# IDE / OS
.idea/
.vscode/
.DS_Store

# Логи и временные
*.log
var/
cache/
tmp/

# Node.js
node_modules/

# Секреты
.env

# PHP/Composer (под ваш кейс: для приложений lock обычно коммитят)
vendor/
stats/
core/
assets/
images/
scripts/
stylesheets/
templates/
uploads/
!site/modules/default/stylesheets/
!site/modules/default/stylesheets/default.scss
