includes:
    - vendor/shipmonk/dead-code-detector/rules.neon

parameters:
    level: max
    paths:
        - app/src
        - engine/core/modules
        - site/modules
    tmpDir: var/phpstan
    bootstrapFiles:
        - app/helpers.php
        - app/phpstan/bootstrap.php
    scanDirectories:
        - engine/core
        - site/modules
        - app/src
    reportUnmatchedIgnoredErrors: true
