.acpl-field {
    position: relative;
}

.acpl-field .acpl_variants {
    position: absolute;
    inset-block-start: 100%;
    inset-inline-start: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin-top: 0.25rem;
    z-index: 1020;
}

.acpl-field .acpl_variants .list-group {
    max-height: 16rem;
    overflow-y: auto;
}
