[data-pane-part="body"] {
    font-family: Tahoma, sans-serif;
}
/* ----- forms ----- */
form {
    margin: 0 0 1em 0;
    font-family: Tahoma, sans-serif;
}
fieldset {
    padding: 12px;
    border: 1px solid gray;
}

[data-pane-part="footer"] input[type="text"],
[data-pane-part="footer"] input[type="password"],
[data-pane-part="footer"] input[type="email"],
[data-pane-part="footer"] input[type="phone"],
[data-pane-part="footer"] select,
[data-pane-part="footer"] textarea {
    border: 0;
}

/* ----- /forms ----- */

.hidden {
    display: none !important;
}

