/* ----- common ----- */
html, body {
    height: 100%;            
    margin: 0;
    padding: 0;
    border: 0;
    background: white;
    font-size: 13px;
}
/* ----- /common ----- */

/* ----- grid form ----- */
.e-grid-form {
    height: 100%;
    margin: 0;
    padding: 0;
}
/* ----- /grid form ----- */
.clearfix:after {
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
    content: ".";
    line-height: 0;
    font-size: 0;
}

.hidden {
    display: none !important;
}
